<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.admin.LoginMapper">
	
	<select id="login" parameterType="object"  resultType="java.lang.Integer" >
		/*관리자 로그인*/
		select
			count(*) as cnt
		from
			admin
		where
			id = #{admin_id} and
			pw = password(#{password})
	</select>
	<select id="detail" parameterType="object" resultType="hashmap">
		/*관리자 정보 가져오기 */
		select 
			*
		from 
			 admin a
		where
			id = #{admin_id} and
			pw = password(#{password})
	</select>

</mapper>